body{
  color: white; 
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
list-style: none;
align-items: center
padding: 16px
}
a{
    color: white;
text-decoration: none;
}

  img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #5bbe42;
}

.center{
  text-align: center;
}
footer img{
width: 40px;
height: 40px;
}
footer1 img{
 width: 45px;
  height: 45px;
}

footer{
  display: flex;
  justify-content: center;
}

footer a{

  margin: 20px;
  text-align: center;
}
footer p{
  margin-top: 2px;
}
nav a:hover{
  color: #5bbe42;
}

body{
  text-align:left ;
}